@font-face {
    font-family: 'Medium Font';
    src: url('/fonts/Medium-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

  h1 {
    font-family: 'Medium Font', sans-serif;
  }
  